@import url('https://fonts.googleapis.com/css?family=Montez|Montserrat:300,400,600,700')
body
    padding-top: 54px

@media(min-width: 992px)
    body
        padding-top: 56px

.carousel-item
    height: 65vh
    min-height: 300px
    background: no-repeat center center scroll
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

.card
    border: none
    box-shadow: 2px 2px 12px LightGray    

.portfolio-item
    margin-bottom: 30px
h1
    font-family: Montez, cursive !important
    font-size: 5rem !important